rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /teams/{teamId}/menus/{menuId} {
      allow read, create, update, delete: if signedIn();
    }

    match /teams/{teamId}/days/{dateId} {
      allow read, create, update, delete: if signedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
